# Node modules
node_modules/

# Python cache
__pycache__/
*.pyc

# Environment files
.env

# Logs
*.log

# Build folders
build/
dist/

# System files
.DS_Store
Thumbs.db

# Large demo video
Demo video/
